.react-calendar {
  width: 400px;
  max-height: 50vh;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.125em;
  font-size: 14px;
  border: none;
  overflow: hidden;
  font-family: "googleNanumGothic-R";
}
.react-calendar__navigation button {
  color: rgb(76, 160, 255);
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: aliceblue;
  border-radius: 10px;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: aliceblue;
  color: rgb(76, 160, 255);
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: aliceblue;
  border-radius: 6px;
  font-weight: bold;
  color: rgb(76, 160, 255);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: aliceblue;
  border-radius: 6px;
  font-weight: bold;
  color: rgb(76, 160, 255);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: aliceblue;
}
.react-calendar__tile--active {
  background: rgb(76, 160, 255);
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgb(76, 160, 255);
  color: white;
}
.react-calendar__month-view__days__day {
  color: #222;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__month-view__days__day--weekend {
  color: rgb(76, 160, 255);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: aliceblue;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: rgb(76, 160, 255);
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: rgb(76, 160, 255);
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgb(76, 160, 255);
  color: white;
}

/* 반응형 */
@media screen and (max-width: 900px) {
  .react-calendar {
    width: 100%;
    height: 40vh;
    padding: 6px;
    border-radius: 6px;
    font-size: 1rem;
  }

  .react-calendar__navigation button {
    font-size: 12px; 
    margin-top: 4px;
  }

  .react-calendar__tile {
    padding: 4px; 
  }

  .react-calendar__tile--now {
    font-size: 11px;
  }

  .react-calendar__tile--active {
    font-size: 11px;
  }
}

/* 모바일 (폰) */
@media screen and (max-width: 480px) {
  .react-calendar {
    height: 35vh;
    font-size: 13px;
  }

  .react-calendar__navigation button {
    font-size: 12px; 
    margin-top: 4px;
  }

  .react-calendar__tile {
    padding: 4px; 
  }

  .react-calendar__tile--now {
    font-size: 11px;
  }

  .react-calendar__tile--active {
    font-size: 11px;
  }
}