.todo-list {
    max-height: 50vh;
    min-width: 400px;
    color: rgb(76, 76, 76);
    overflow-y: scroll;
}

.todo-list::-webkit-scrollbar {
    background-color: rgba(240, 248, 255, 0.719);
    width: 10px;
    border-radius: 10px;
}
.todo-list::-webkit-scrollbar-thumb {
    background-color: rgba(76, 160, 255, 0.54);
    border-radius: 10px;
}

/* 반응형 */
@media (max-width: 725px) {
    .todo-list {
        min-width: 400px;
    }
}

/* 모바일 (폰) */
@media (max-width: 480px) {
    .todo-list {
        max-height: 15vh;
        min-width: 100%;
    }
    .todo-list {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }

    .todo-list::-webkit-scrollbar {
        display: none; 
    }
}
